/** Colors */
$brand-primary: #525ddc;

/** Box Model  */
$spacer: 2rem;

$color--primary: #fff;
$color--light-gray: #adadad;
$color--dark-gray: #4d4d4d;

$font--text: "Montserrat";
$font--title: "Playfair Display";
