footer {
  position: relative;
  align-items: flex-end;
  padding-bottom: 50px;
  margin-top: -182px;
  z-index: 2;

  p.copyright {
    grid-column: 2 / 8;
    font-size: 11px;
    color: $color--light-gray;
    letter-spacing: 1.5px;
    font-weight: 600;
  }

  nav {
    grid-column: 8 / 12;

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      li a {
        display: inline-block;
        padding: 10px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 2.6px;
      }
    }
  }
}

body.page-footer--inverse footer {
  color: #000;

  p {
    color: $color--dark-gray;
  }
}
