$paddingHeader: 30px;

#header {
  padding-top: $paddingHeader;
  padding-bottom: $paddingHeader;
  align-items: center;

  #logo {
    display: block;
    height: 45px;
    width: 45px;
    grid-column: span 1;
  }

  nav {
    grid-column: 7 / 13;

    ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;

      li a {
        font-size: 12px;
        letter-spacing: 3.2px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 10px 25px;
      }
    }
  }
}
