form.wpcf7-form {
  margin-top: 100px;
  padding-bottom: 100px;

  label,
  span {
    display: inline-block;
    width: 100%;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    background: none;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
    height: 30px;
    color: #fff;
    width: 100%;
  }

  textarea {
    height: 200px;
    resize: none;
  }

  p {
    margin-bottom: 30px;
  }

  input[type="submit"] {
    color: #fff;
    cursor: pointer;
    padding: 10px !important;
  }
}
