article.project {
  position: relative;
  grid-column: 1 / 13;
  margin-bottom: 150px;
  align-items: flex-end;

  .project-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    grid-column: 2 / 5;
    padding: 25px 0;

    ul {
      margin-bottom: 30px;

      li {
        font-weight: 500;
        font-size: 14px;
        padding: 5px 0;
      }
    }
  }

  h2 {
    position: absolute;
    top: 20px;
    left: 1 / 12 * 100%;
    font-size: 100px;
    font-family: $font--title;
    margin: 0;
    z-index: 3;
    user-select: none;
    pointer-events: none;
  }

  .project-cover {
    @extend .coverImage;

    grid-column: 6 / 12;
    height: 345px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #000;
      opacity: 0.5;
      z-index: 2;
      transition: opacity 0.3s ease;
    }
  }

  &:hover {
    .project-content span.link {
      @extend span.link--hover;
    }

    .project-cover::after {
      opacity: 0;
    }
  }

  &:nth-child(odd) {
    .project-content {
      grid-column: 9 / 13;
    }

    .project-cover {
      grid-column: 2 / 8;
      order: -1;
    }

    h2 {
      left: unset;
      right: 1 / 12 * 100%;
    }
  }
}
